{
  margin: 0;
}
.container1{
  width: 100vw;
  display: inline-block;
  background-color: #007FFF;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}



.container2{
  width: 100vw;
  display: block;
  background-color: white;

}
.profile{
  height: 100px;
  width: 140px;
  border-radius: 84px;
}
.profile-image{
  display: block;
  text-align: center;
  margin-left: 50px;
}


.postbox{
margin: 0 auto 0 auto;
}
.pic1{
  width: 100%;
  object-fit: contain;
}
.pic2{
  width: 100%;
  object-fit: contain;
}
.pic3{
  width: 100%;
  object-fit: contain;
}
.pic4{
  width: 100%;
  object-fit: contain;
}
.pic5{
  width: 100%;
  object-fit: contain;
}
.pic6{
  width: 100%;
  object-fit: contain;
}
.lilpic{
  width: 75px;
}


